<h1>Goodbye!</h1>

<p>It was nice having you here!</p>

<p>Want to say <%= link_to "Hello", say_hello_path %> again? </p> 


<p>Before you go, please check out some random <%= link_to "Stuff", say_files_path %></P>